<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
</head>
<body> 
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <audio>
        <source src="../music_notes/c_note.mp3" type="audio/mpeg">
        <source src="../music_notes/c_note.ogg" type="audio/ogg">
        <source src="../music_notes/c_note.wav" type="audio/wav">
    </audio>
    <audio>
        <source src="../music_notes/d_note.mp3" type="audio/mpeg">
    </audio>
     <audio>
        <source src="../music_notes/e_note.mp3" type="audio/mpeg">
    </audio>
     <audio>
        <source src="../music_notes/f_note.mp3" type="audio/mpeg">
    </audio>
     <audio>
        <source src="../music_notes/g_note.mp3" type="audio/mpeg">
    </audio>
     <audio>
        <source src="../music_notes/a_note.mp3" type="audio/mpeg">
    </audio>
     <audio>
        <source src="../music_notes/b_note.mp3" type="audio/mpeg">
    </audio>
    <div id="instrument">
        <div id="c" class="box"></div>
        <div id="d" class="box"></div>
        <div id="e" class="box"></div>
        <div id="f" class="box"></div>
        <div id="g" class="box"></div>
        <div id="a" class="box"></div>
        <div id="b" class="box"></div>
    </div>

</body>
</body>
</body>
</body>
</body>
</body>
</html>